
.featured{
    padding: 60px 5%;
    background: #0b0f19;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h2{
    font-size: 40px;
    margin-bottom: 8px;
}

.header p{
    font-size: 18px;
    color: #5a5a5a;
    cursor: pointer;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.view-btn{
    text-decoration: none;
    color: #22C55E;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 15px;
}

.text{
    text-decoration: none;
}

.view-btn:hover .text{
    text-decoration: underline;
}