.user-menu {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.user-icon:hover{
    color: #00f5d4;
}

.dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  width: 180px;
  background: #0f172a;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  z-index: 999;
}

.user-menu:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown a,
.logout-btn {
  display: block;
  padding: 10px 16px;
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
}

.dropdown a:hover,
.logout-btn:hover {
  background: #1e293b;
  color: #22c55e;
}

.logout-btn {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}